<h1 class="page-title">
    <div class="page-title__text">{{ page.title }}</div>
    <div class="page-title__subtitle">{{ page.subtitle }}</div>
    <div  style="text-align: left; padding-top:50px;">
        <ul class="page-title__subtitle">{{ page.subtitle1 }}</ul>
        <ul class="page-title__subtitle">{{ page.subtitle2 }}</ul>
        <ul class="page-title__subtitle">{{ page.subtitle3 }}</ul>
        <ul class="page-title__subtitle">{{ page.subtitle4 }}</ul>
        <ul class="page-title__subtitle">{{ page.subtitle5 }}</ul>
        <ul class="page-title__subtitle">{{ page.subtitle6 }}</ul>
    </div>
</h1>
