<h1 class="page-title">
    <!-- <div class="page-title__text">{{ page.title }}</div> -->
    <div class="page-title__subtitle">{{ page.subsubtitle }}</div>
    <div  style="text-align: left; padding-top:0px;">
        <!-- <ul class="page-title__subtitle">Hello there!</ul> -->
        <!-- <ul class="page-title__subtitle">Hi, I'm Sheikh Imtiaz Ahmed.</ul> -->
        <!-- <ul class="page-title__subtitle">I am a Software Engineer.</ul>
        <ul class="page-title__subtitle">I enjoy working with working with Java, Scala, Spring Boot, Javascript, Nodejs, Postgresql, MongoDB, AWS.</ul>
        <ul class="page-title__subtitle">Previously I have worked at Rocketman(wind.app), Cefalo Bangladesh Ltd, Synesis IT Ltd, SELISE Digital Platforms, SUBSEL Research Lab.</ul>
        <ul class="page-title__subtitle">I have majored in Computer Science and Engineering from Shahjalal University of Science and Technology.</ul>
        <ul class="page-title__subtitle">I am a proud Notredamian, an opensource enthusiast and Alan Kay fanatic.</ul>
        <ul class="page-title__subtitle">I love to write. Anything. Codes, Articles, Stories.</ul>
        <ul class="page-title__subtitle">Catch me every Saturday at 10:00 PM BDT on Weekend Commits.</ul> -->
    </div>
    
    <!-- <div class="page-title__subtitle" style="margin-top: 1em;">Hi, I'm Sheikh Imtiaz Ahmed. I am a Software Engineer at Cefalo.</div>
    <div class="page-title__subtitle" style="font-size:12px;margin-top: 1em;">"{{ page.subsubtitle }}"</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">"{{ page.subtitle }}"</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">Previously I have worked at SUBSEL Research Lab, SELISE Digital Platforms, Synesis IT Ltd.</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">I love to write. Anything. Codes, Articles, Stories.</div> -->
</h1>


<p>
    I am a seasoned software engineer with six years of experience in the software industry.
    I hold a bachelors degree in Computer Science from SUST. 
    I enjoy working with Java, Scala, Spring Boot, Javascript, Nodejs, Postgresql, MongoDB, AWS.
    Previously I have worked at Rocketman(wind.app), Cefalo Bangladesh Ltd, Synesis IT Ltd, SELISE Digital Platforms, SUBSEL Research Lab.
    I am a proud Notredamian, an opensource enthusiast and Alan Kay fanatic.
    <!-- I love to write. Anything. Codes, Articles, Stories. -->
    <!-- Catch me every Saturday at 10:00 PM BDT on Weekend Commits. -->
</p>
<!-- <p>
    I enjoy working with working with Java, Scala, Spring Boot, Javascript, Nodejs, Postgresql, MongoDB, AWS.
</p>
<p>
    Previously I have worked at Rocketman(wind.app), Cefalo Bangladesh Ltd, Synesis IT Ltd, SELISE Digital Platforms, SUBSEL Research Lab.
</p>
<p>
    I have majored in Computer Science and Engineering from Shahjalal University of Science and Technology.
</p>
<p>
    I am a proud Notredamian, an opensource enthusiast and Alan Kay fanatic.
</p>
<p>
    I love to write. Anything. Codes, Articles, Stories.
</p>
<p>
    Catch me every Saturday at 10:00 PM BDT on Weekend Commits.
</p> -->

<p>
    <span style="font-weight: 900;">Expertise: </span>
    Problem Solving, Programming Languages, OOP, FP, Actor Model, Algorithms, Data Structures, System thinking, System designing, FinTech and InsurTech domain.
</p>
<p>
    <span style="font-weight: 900;">Problem Solving: </span>
    Solved more than 600 problems in different online judges such as uHunt, USACO, Spoj, Codemarshal, Topcoder, Codeforces, Hackerrank, Leetcode etc. 
</p>
<p>
    <span style="font-weight: 900;">Programming Languages: </span>
    Java, Scala, Javascript, Typescript, Python, Rust, C/C++, C#, Solidity, Golang. 
</p>
<p>
    <span style="font-weight: 900;">Frameworks: </span>
    Spring Boot, NestJS, .NET, Angular, React, Liftweb, Micronaut, Quarkus.  
</p>
<p>
    
    <span style="font-weight: 900;">Other Familiarities: </span>
    System & Software Architectures, Microservices, Domain Driven Development, Design Patterns, Cloud Computing, GraalVM, WebAssembly, Docker, Knative, Akka, Distributed Systems, Blockchain, Ethereum OS.
</p>
<p>
    
    <span style="font-weight: 900;">Interested In: </span>
    System designing with Cloud, IoT, Blockchain and Artificial Intelligence.
</p>



