<h1 class="page-title">
    <div class="page-title__text">{{ page.title }}</div>
    <div class="page-title__subtitle">{{ page.subtitle }}</div>
    <div  style="text-align: left; padding-top:50px;">
        <!-- <ul class="page-title__subtitle">Hello there!</ul> -->
        <ul class="page-title__subtitle">Hi!, I'm Sheikh Imtiaz Ahmed.</ul>
        <ul class="page-title__subtitle">Software Engineer at Synesis IT Ltd.</ul>
        <ul class="page-title__subtitle">Previously - SUBSEL Research Lab, SELISE Digital Platforms.</ul>
        <ul class="page-title__subtitle">I love to write. Anything. Codes, Articles, Stories.</ul>
        <!-- <ul class="page-title__subtitle">Catch me every Saturday at 10:00 PM on Weekend Commits.</ul> -->
    </div>
</h1>




<p>
    <span style="font-weight: 900;">Expertise: </span>
    Problem Solving, System thinking, Algorithms, OOP, Actor Model, Database, Programming Languages - C/C++, C#, Javascript, Python, Java.
</p>
<p>
    
    <span style="font-weight: 900;">Other Familiarities: </span>
    Cloud Computing, GraalVM, WebAssembly, Docker, Knative, Akka, Scala, Golang, Distributed Systems, Blockchain, Ethereum OS.
</p>
<p>
    
    <span style="font-weight: 900;">Interested In: </span>
    System designing with Cloud, IoT, Blockchain and Artificial Intelligence.
</p>



