<h1 class="page-title">
    <div class="page-title__text">{{ page.title }}</div>
    <!-- <div  style="text-align: left; padding-top:50px;"> -->
        <!-- <ul class="page-title__subtitle">Hello there!</ul> -->
        <!-- <ul class="page-title__subtitle">Hi!, I'm Sheikh Imtiaz Ahmed. I am a software engineer at Cefalo.</ul> -->
        <!-- <ul class="page-title__subtitle">Software Engineer at Cefalo.</ul> -->
    <!-- </div> -->
    <div class="page-title__subtitle" style="margin-top: 1em;">Hi, I'm Sheikh Imtiaz Ahmed. I am a Software Engineer at Cefalo.</div>
    <div class="page-title__subtitle" style="font-size:12px;margin-top: 1em;">"{{ page.subsubtitle }}"</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">"{{ page.subtitle }}"</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">Previously I have worked at SUBSEL Research Lab, SELISE Digital Platforms, Synesis IT Ltd.</div>
    <div class="page-title__subtitle" style="margin-top: 1em;">I love to write. Anything. Codes, Articles, Stories.</div>
    
    <!-- <div  style="text-align: left; padding-top:50px;"> -->
        <!-- <ul class="page-title__subtitle">Previously I have worked at SUBSEL Research Lab, SELISE Digital Platforms, Synesis IT Ltd.</ul> -->
        <!-- <ul class="page-title__subtitle">I love to write. Anything. Codes, Articles, Stories.</ul> -->
        <!-- <ul class="page-title__subtitle">Catch me every Saturday at 10:00 PM on Weekend Commits.</ul> -->
    <!-- </div> -->
</h1>




<p>
    <span style="font-weight: 900;">Expertise: </span>
    Problem Solving, System thinking, Algorithms, OOP, Actor Model, Database, Programming Languages - Java, C/C++, C#, Javascript, Scala, Python, Solidity, Golang.
</p>
<p>
    
    <span style="font-weight: 900;">Other Familiarities: </span>
    Cloud Computing, GraalVM, WebAssembly, Docker, Knative, Akka, Distributed Systems, Blockchain, Ethereum OS.
</p>
<p>
    
    <span style="font-weight: 900;">Interested In: </span>
    System designing with Cloud, IoT, Blockchain and Artificial Intelligence.
</p>



